/**
 * @file
 * Custom CSS for RoundVoting.
 */

div.roundvoting-widget {
  padding-top: 10px;
  width: 200px;
  height: 74px;
  text-align: center;
  background: url('images/vote_button_bg.png') no-repeat center top;
}
div.roundvoting-widget a {
  text-decoration: none;
}
div.roundvoting-widget .roundvoting-score {
  padding-top: 0.4em;
  font-size: 100%;
  color: black;
}
div.roundvoting-widget .roundvoting-vote {
}
div.roundvoting-widget .roundvoting-vote a {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 150%;
}
